.Toggle {
    position: relative;
    border: 1px solid var(--dark);
}

.Toggle-button {
    position: absolute;
    border: 1px solid var(--dark);
    border-radius: 50%;
    bottom: -1px;
    background-color: white;
}