.Search {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: grid;
    grid-template-columns: 250px auto;
    grid-template-rows: 100px auto;
    grid-template-areas: 
        "header header"
        "filter results";
}

.Empty-Results {
    grid-area: results;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--dark);
    background-color: var(--light);
}

.Search h4 {
    padding: 10px 0;
}

.Search-Bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Search-Bar form {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 5px;
    border-radius: var(--border-radius);
    border: 1px solid var(--light);
    transition: var(--transition);
    background-color: white;
}

.Search-Bar form:hover {
    transition: var(--transition);
    box-shadow: var(--box-shadow);
}

.Search-Bar div {
    height: 45px;
    border-left: 1px solid var(--light);
}

.Search-Bar-Locate {
    position: absolute;
    right: 50px;
    color: var(--dark) !important;
}

.Search-Bar-Locate:hover {
    color: red !important;
}

.Search-Bar input {
    background-color: white;
    padding: 10px;
    margin: 5px;
    font-size: 18px;
    min-width: 300px;
}

.Search-Bar button {
    border-radius: var(--border-radius);
    background-color: var(--green);
    transition: var(--transition);
    height: 40px;
    width: 40px;
}

.Search-Bar button:hover {
    box-shadow: var(--box-shadow);
    background-color: var(--lightgreen);
    transition: var(--transition);
}

.Search-Bar svg {
    height: 30px;
    width: auto;
    padding: 5px;
    color: white;
}

.Search-Bar a {
    color: white;
    text-decoration: none;
    margin: 5px;
}

.Search-Bar a:hover {
    text-decoration: underline;
}

.Search-Filter {
    grid-area: filter;
    min-width: 200px;
    position: relative;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 10px;
    overflow-y: scroll;
    border-right: 1px solid var(--light);
    color: var(--dark);
}

.Search-Filter-Section {
    min-height: 250px;
    max-height: 350px;
    padding: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-bottom: 1px solid var(--light);
    overflow-y: scroll;
}

.Search-Filter-Section div {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.Search-Filter-Section input {
    width: 25px;
    height: 20px;
}

.SF-advanced {
    height: 20px;
    width: 100%;
}

.SF-advanced:hover {
    text-decoration: underline;
}

.SF-submit {
    position: fixed;
    bottom: 0;
    height: 40px;
    width: 250px;
    background-color: var(--green);
    color: white;
    font-size: 16px;
}

.SF-submit:hover {
    background-color: var(--lightgreen);
}

.SF-toggleArea {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 200px;
    padding: 10px;
}

.SF-toggleArea select {
    height: 30px;
}

.Search-Header {
    grid-area: header;
    border-bottom: 1px solid var(--light);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.SH-Auth {
    min-width: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Search-Header a {
    text-decoration: none;
    color: var(--dark);
    padding: 10px 0;
}

.Search-Header a:hover {
    border-bottom: 2px solid var(--dark);
}



.Search-Results {
    grid-area: results;
    overflow-y: scroll;
    padding: 10px;
}

.Search-Result {
    height: 200px;
    width: 100%;
    max-width: 800px;
    margin: 5px 0;
    padding: 10px;
    color: var(--dark);
    border: 1px solid var(--light);
    border-radius: var(--border-radius);
    transition: var(--transition);
    text-decoration: none;
    display: grid;
    grid-template-columns: 250px 5px auto 5px 100px;
    grid-template-rows: 40px 40px 40px auto;
    grid-template-areas: 
        'img . name . info'
        'img . cost . info'
        'img . cuisines . label'
        'img . tags . rating'
    ;
}

.Search-Result:hover {
    box-shadow: var(--box-shadow);
    transition: var(--transition);
    cursor: pointer;
}

.SR-img {
    grid-area: img;
    display: flex;
    justify-content: center;
    align-items: center;
}

.SR-img img {
    width: 100%;
    max-height: 100%;
    border: 1px solid var(--light);
    border-radius: var(--border-radius);
}

.SR-name {
    grid-area: name;
    color: black;
    font-size: 22px;
    display: flex;
    align-items: center;
}

.SR-name:hover {
    cursor: pointer;
    text-decoration: underline;
}

.SR-info {
    grid-area: info;
    font-size: 14px;
}

.SR-rating {
    grid-area: rating;
    border: 1px solid var(--light);
    border-radius: var(--border-radius);
    background-color: var(--green);
    color: white;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.SR-cost {
    grid-area: cost;
    display: flex;
    align-items: center;
    font-size: 18px;
}

.SR-cuisines {
    grid-area: cuisines;
    display: flex;
    align-items: center;
}

.SR-tags {
    grid-area: tags;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #aaaaaa;
}

.SR-label {
    grid-area: label;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 12px;
}