* {
    margin: 0;
    border: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

:root {
    --red: #701C1C;
    --peach: #FFE6A7;
}

.Application {
    height: 100vh;
    width: 100vw;
}

.Authentication {
    height: 100vh;
    width: 100vw;
}

.Banner {
    background-color: var(--red);
    color: white;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Landing {
    height: 500px;
    width: 100%;
    background-color: var(--red);
    background-image: url(assets/bowl.jpg);
    background-position: 50%;
    background-size: cover;
    opacity: 0.8;
}

.Landing img {
    width: 100%;
}

.NavBar {
    position: fixed;
    height: 10%;
    min-height: 100px;
    width: 100%;
    padding: 0 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.NavBar ul {
    height: 100%;
    min-width: 150px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.NavItem {
    color: white;
    padding: 10px 0;
    font-weight: 700;
    text-decoration: none;
}

.NavItem:hover {
    border-bottom: 2px solid white;
}
