* {
    margin: 0;
    border: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

:root {
    --red: #701C1C;
    --green: #4CB944;
    --lightgreen: #69CE5F;
    --peach: #FFE6A7;
    --camel: #BB9457;
    --dark: #555555;
    --blue: #0073bb;
    --border-radius: 6px;
}

.Application {
    height: 100vh;
    width: 100vw;
}

.Authentication {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.AuthForm {
    height: 80%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.AuthForm h2 {
    color: var(--green);
}

.AuthForm a {
    color: var(--blue);
    text-decoration: none;
}

.AuthForm a:hover {
    text-decoration: underline;
}

.AuthForm form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.AuthForm span {
    color: var(--dark);
    font-size: 14px;
}

.AuthForm-input {
    width: 60%;
    border: 1px solid var(--dark);
    border-radius: var(--border-radius);
    padding: 10px;
    font-size: 18px;
    margin: 10px;
}

.AuthForm-submit {
    width: 60%;
    border-radius: var(--border-radius);
    padding: 10px;
    font-size: 18px;
    margin: 10px;
    color: white;
    background-color: var(--green);
    transition: 0.5s linear;
}

.AuthForm-submit:hover {
    background-color: var(--lightgreen);
    transition: 0.5s linear;
}

.AuthForm div {
    width: 60%;
    border-bottom: 1px solid var(--dark);
    text-align: center;
}

.Banner {
    background-color: var(--green);
    color: white;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Landing {
    height: 100vh;
    width: 100%;
}

.Landing-Near {
    height: 50%;
    width: 100%;
}

.Landing-Search {
    height: 70%;
    width: 100%;
    background-image: url(assets/over.jpg);
    background-position: 50%;
    background-size: cover;
}

.NavBar {
    position: fixed;
    height: 10%;
    min-height: 100px;
    width: 100%;
    padding: 0 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    /* background: rgba(0, 0, 0, 0.2); */
}

.NavBar ul {
    height: 100%;
    min-width: 150px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.NavItem {
    color: white;
    padding: 10px 0;
    font-weight: 700;
    text-decoration: none;
}

.NavItem:hover {
    border-bottom: 2px solid white;
}

.User {
    position: relative;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: var(--dark);
    border-radius: var(--border-radius);
}

.User img {
    height: 100%;
    border-radius: 6px 0 0 6px;
}

.UserDropdown {
    position: absolute;
    bottom: -155px;
    right: 0;
    background-color: var(--dark);
    height: 150px;
    width: 140px;
    border-radius: var(--border-radius);
}

.UserDropdown button {
    width: inherit;
    background: transparent;
    color: white;
    padding: 10px;
    border-radius: var(--border-radius);
    font-size: 14px;
    font-weight: 700;
}

.UserDropdown button:hover {
    background-color: #888888;
}